body{
    
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color:rgb(98, 30, 124);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    

}



.foto-de-perfil{
    width: 100px;
}

.cartao{
    background-color: rgba(210,164,240,0.8);
    width: 370px;
    border:2px solid #df59bd;
    border-radius: 10px;
    overflow: hidden;
}

.abas img{
    width: 30px;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #85b1ce;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #741c7c;
    text-align: center;
}

.cartao .conteudo{
 
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: rgba(209,139,255,0.4);
}

.cartao .informacoes-abas{
    background-color: rgba(209,139,255,0.4);
}

.cartao .abas .aba:hover{
    background-color: rgba(209,139,255,0.4);
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none; 
;
}

.informacoes-abas .informacao.selecionado{
    display: block;

}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 5px;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 10px;

}

.informacoes-abas .descricao span{
    color: deeppink;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow: auto;
}

.redes-sociais li a{
    width: 250px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;

}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .Curriculo{
    background-color: #06c185;
}

.redes-sociais .LinkedIn{
    background-color: #1d87bd;
}

.redes-sociais .GitHub{
    background-color: grey;
}
